# Node modules
node_modules/

# Build output
.next/
out/
dist/
build/

# Logs
*.log

# Dependency directories
package-lock.json
yarn.lock

# Environment variables
.env

# Prisma
prisma/migrations/
prisma/dev.db
prisma/test.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
